## all ignore
/*

## not ignore
!/.config/
!/.config/**
/.config/github-copilot/**
/.config/iterm2/**
/.config/karabiner/**
!/.config/karabiner/karabiner.json
!.gitignore
!/.p10k.zsh
!/.zshenv
!/.zshrc
!/README.md
!/CLAUDE.md
